
body {
    background-color: rgb(199, 194, 148);
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}
.header {
        ;      
        color: #d83a3a;
        border: 10px solid black;
        font-family: 'Nanum Brush Script','Quattrocento Sans', cursive;
        font-size: 150%;
      
        
}
.header-title {
        background-image: url(img/bar-de-tapas.jpeg);
        text-align: center;
        width: 100%;
        margin: 0;
        
}
.header-img {
    bottom: 10Ò0%;
    width: 100%;
    height: 100%;
}
.header-nav,
a {
    padding: 20px;
    color: inherit;
    font
    
}
.main {
    padding: 20px;
    text-align: justify;
}
.footer {
    background: rgb(109, 101, 90);
    padding : 10px 20px;
}